In [19]:
import pandas as pd

In [20]:
data=pd.read_csv('automobiles.csv')

In [21]:
data

,Unnamed: 0,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,22,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
23,23,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
24,24,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
25,25,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
26,26,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
27,27,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
28,28,39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
29,29,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
30,30,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
31,31,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
32,32,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
33,33,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
34,34,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
35,35,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
36,36,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
37,37,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
38,38,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
39,39,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
40,40,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
41,41,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
42,42,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
43,43,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
44,44,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
45,45,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
46,46,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
47,47,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
48,48,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
49,49,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
50,50,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
51,51,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
52,52,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
53,53,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
54,54,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
55,55,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
56,56,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
57,57,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### Question 1 : Commencer par vérifier le type de données et afficher les 5 premières lignes du jeu de données.

In [22]:
data.dtypes

Unnamed: 0            int64
index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

In [23]:
data.head()

,Unnamed: 0,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

### Question 2 : Ensuite, nettoyer les données en éliminant les valeurs NaN et 0 et reporter une nouvelle version dans le même fichier.

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        58 non-null     int64
 1   index             58 non-null     int64
 2   company           58 non-null     object
 3   body-style        58 non-null     object
 4   wheel-base        58 non-null     float64
 5   length            58 non-null     float64
 6   engine-type       58 non-null     object
 7   num-of-cylinders  58 non-null     object
 8   horsepower        58 non-null     int64
 9   average-mileage   58 non-null     int64
 10  price             58 non-null     float64
dtypes: float64(3), int64(4), object(4)
memory usage: 5.1+ KB

### Question 3 : Afficher le détail de toutes les voitures de marque Toyota

In [25]:
dataset = data[data['company']=='toyota']
dataset

,Unnamed: 0,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
45,45,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
46,46,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
47,47,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
48,48,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
49,49,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
50,50,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
51,51,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

### Question 4 : Afficher le nom de la compagnie, le nombre de chevaux ainsi que le prix de la voiture la plus chère

In [27]:
datacamp = data.loc[:,['company','horsepower','price']]
datacamp

          company  horsepower    price
0     alfa-romero         111  13495.0
1     alfa-romero         111  16500.0
2     alfa-romero         154  16500.0
3            audi         102  13950.0
4            audi         115  17450.0
5            audi         110  15250.0
6            audi         110  18920.0
7             bmw         101  16430.0
8             bmw         101  16925.0
9             bmw         121  20970.0
10            bmw         182  30760.0
11            bmw         182  41315.0
12            bmw         182  36880.0
13      chevrolet          48   5151.0
14      chevrolet          70   6295.0
15      chevrolet          70   6575.0
16          dodge          68   6377.0
17          dodge          68   6229.0
18          honda          76   7295.0
19          honda         101  12945.0
20          honda         100  10345.0
21          isuzu          78   6785.0
22         jaguar         176  32250.0
23         jaguar         176  35550.0
24         jaguar         262  36000.0
25          mazda          68   5195.0
26          mazda          68   6095.0
27          mazda          68   6795.0
28          mazda         101  11845.0
29          mazda          72  18344.0
30  mercedes-benz         123  25552.0
31  mercedes-benz         123  28248.0
32  mercedes-benz         184  40960.0
33  mercedes-benz         184  45400.0
34     mitsubishi          68   5389.0
35     mitsubishi          68   6189.0
36     mitsubishi          88   6989.0
37     mitsubishi          88   8189.0
38         nissan          55   7099.0
39         nissan          69   6649.0
40         nissan          69   6849.0
41         nissan          69   7349.0
42         nissan         152  13499.0
43        porsche         207  34028.0
44        porsche         207  37028.0
45         toyota          62   5348.0
46         toyota          62   6338.0
47         toyota          62   6488.0
48         toyota          62   6918.0
49         toyota          62   7898.0
50         toyota          62   8778.0
51         toyota         156  15750.0
52     volkswagen          52   7775.0
53     volkswagen          85   7975.0
54     volkswagen          52   7995.0
55     volkswagen         100   9995.0
56          volvo         114  12940.0
57          volvo         114  13415.0

In [32]:
datahonda = datacamp[datacamp['company']=='honda'].max()

In [35]:
datahonda

company         honda
horsepower        101
price         12945.0
dtype: object

### Question 5 : Afficher le nombre de voitures par compagnie

In [45]:
datacompte= data['company'].count

In [46]:
datacompte

<bound method Series.count of 0       alfa-romero
1       alfa-romero
2       alfa-romero
3              audi
4              audi
5              audi
6              audi
7               bmw
8               bmw
9               bmw
10              bmw
11              bmw
12              bmw
13        chevrolet
14        chevrolet
15        chevrolet
16            dodge
17            dodge
18            honda
19            honda
20            honda
21            isuzu
22           jaguar
23           jaguar
24           jaguar
25            mazda
26            mazda
27            mazda
28            mazda
29            mazda
30    mercedes-benz
31    mercedes-benz
32    mercedes-benz
33    mercedes-benz
34       mitsubishi
35       mitsubishi
36       mitsubishi
37       mitsubishi
38           nissan
39           nissan
40           nissan
41           nissan
42           nissan
43          porsche
44          porsche
45           toyota
46           toyota
47           toyota
48           toyota
49           toyota
50           toyota
51           toyota
52       volkswagen
53       volkswagen
54       volkswagen
55       volkswagen
56            volvo
57            volvo
Name: company, dtype: object>